<div class ="container">
<%= form_for @vaccination do |f| %>

    <div>
        <%= f.label :nombre %>
        <%= f.text_field :nombre%>
    </div>
    <div>
        <%= f.label :direccion %>
        <%= f.text_field :direccion %>
    </div>
    <div>
        <%= f.label :contacto %>
        <%= f.text_field :contacto %>
    </div>
    <button type="submit" class="btn btn-primary">
        Crear vacunatorio
    </button>
<%end%>
</div>
