<%= form_for @campaingfor_user do |f| %>
    <div>
        <%= f.label "Camapaña" %>
        <%= f.select :campaingvaccine_id, options_from_collection_for_select(Campaingvaccine.all, :id, :name) %>
        <% age = Date.today.year - current_user.nacimiento.year%>
           <%age -= 1 if Date.today < current_user.nacimiento + age.years%>
           <%if age>60%>
              <%= f.select :turno_id, options_from_collection_for_select(Turno.where("Fecha_hora < date('now')"), :id, :Fecha_hora)%>
    </div>
    <div>
        <%= f.submit %>
    </div>
<%end%>
<%end%>
