<%= form_for @campaingvaccine do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%=f.label "vacuna"%>
        <%= f.select :vacuna_id, options_from_collection_for_select(Vacuna.all, :id, :nombre) %>
    </div>
    <div>
        <%= f.label :incio %>
        <%= f.date_field :inicio %>
    </div>
    <div>
        <%= f.label :fin %>
        <%= f.date_field :fin %>
    </div>
    <div>
       <button type="submit" class="btn btn-primary">Actualizar campaña</button>
    </div>
<%end%>
