<div class="container">
    <h3>Listado de Camapañas</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Campaña: </th>
                <th>Vacuna: </th>
                <th>Inicio: </th>
                <th>Fin: </th>
            </tr>
        </thead>
        <% @campaingvaccines.each do |c| %>
        <tbody>
            <tr>
                <td><%= c.name %></td>
                <td><%= c.vacuna %></td>
                <td><%= c.inicio %></td>
                <td><%= c.fin %></td>
                <td>
                    <%= link_to "Editar", editcampaingvaccines_path(c), class:"btn btn-link"%>
                    <%= link_to "Eliminar", c, method: :delete, data: { confir: "¿Deseas eliminar esta campaña?"},class:"btn btn-link" %>
                </td>
            </tr>

            <% end %>
        <tbody>
    </table>
    <%= link_to "Crear campaña", campaingvaccines_new_path, class: 'btn btn-info btn-sm'%>
</div>
