<div class = "container">
    <h3>Listado de personas</h3>
    <table class = "table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>DNI</th>
                <th>Enfermedades prevalentes</th>
                <th>email</th>
            </tr>
        </thead>
        
        <tr>
            <td>
                <th>
                <% @usuarios.each do |u| %>
                    <%= u.nombre %>
                    <%= u.apellido %>
                    <%= Time.zone.now - u.nacimiento.years  %>
                    <%= u.dni %>
                    <%= u.enfermedades %>
                    <%= u.email %>
                <%end%>
                </th>
            </td>
        </tr>

    </table>

</div>