<div class="container">
  <div class="row">
    <div class="col align-center">
        <%= image_tag "https://www.local.gov.uk/sites/default/files/styles/page_banner/public/images/public%20health%20CC%20banner.png?itok=5erbq83E", title: "Logo", class: "logo" %>
      <nav class="nav bg-ligth">
        <li class="nav-item">
            
            <%= link_to "Inicio", root_path, class:"nav-link"   %>

                <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to "Ver perfil", user_show_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Cerrar sesi칩n", destroy_user_session_path, data: { confirm: "Est치 seguro que desea cerrar sesi칩n?" }, method: :delete, class:"nav-link"%>
                </li>
                <% else %>

                <li class="nav-item">
                     <%= link_to "Iniciar sesi칩n", new_user_session_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                     <%= link_to "Registrarse", new_user_registration_path, class:"nav-link" %>
                </li>

                <% end %> 
        </nav>
    </div>

  </div>
</div>


