<div class="container">
    <h2>Listado de Vacunas disponibles</h2>
    <table class="table">
        <tr>
            <thead>
                <th>Vacuna: </th>
                <th>Lote: </th>
                <th>Cantidad: </th>
                <th>Vacunatorio: </th>
            </thead>
        </tr>
        <% @vacunas.each do |v| %>
        <tr>
            <td><%= v.tipo_vacuna.nombre %></td>
            <td><%= v.lote %></td>
            <td><%= v.cantidad %></td>
            <td><%= v.vaccination.nombre %></td>
            <td>
                <%= link_to "Editar", editvacuna_path(v)%>
                <%= link_to "Eliminar", v, method: :delete, data: { confirm: "¿Deseas eliminar el registro de este vacunatorio?"} %>
            </td>
        </tr>
        <% end %>
    </table>

    <% if (current_user.tipo == "Administrador")%>
    <%= link_to "Ingresar vacunas", vacunas_new_path%>
    <% end %>
</div>