<div class="container">

  <div class="row">
    <div class="col-m">
      <h3>Hola <%= current_user.nombre %> <%= current_user.apellido %></h3>
    </div>

    <% if (current_user.role)  %>


    <div class="col-s">
      <%= link_to "Crear tipos de vacunas", tipo_vacunas_path, class: 'btn btn-info btn-sm' %>
    </div>




    <div class="row">
      <div class="col-m">
        <%= link_to "Ver listado de usuarios", userindex_path, class: 'btn btn-info btn-sm' %>
      </div>
    </div>

    <div class="row">
      <div class="col-m">
        <%= link_to "Crear vacunatorio", new_vaccination_path, class: 'btn btn-info btn-sm' %>
      </div>
    </div>

    <div class="row">
      <div class="col-m">
        <%= link_to "Crear vacunas", new_vacuna_path, class: 'btn btn-info btn-sm' %>
      </div>
    </div>

    <div class="row">
      <div class="col-m">
        <%= link_to "Crear campaña", campaingvaccines_new_path, class: 'btn btn-info btn-sm' %>
      </div>
    </div>

    <div class="row">
      <div class="col-m">
        <%= link_to "Ver listado de campañas", campaingvaccines_path, class: 'btn btn-info btn-sm' %>
      </div>
    </div>


    <% end %>

    <div class="row">
      <div class="col-m">
        <%= link_to "Registrarme a una campaña", campaingfor_users_new_path, class: 'btn btn-info btn-sm' %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= link_to "Ver historial de vacunacion", showturno_path, class: 'btn btn-info btn-sm disabled' %>
      </div>

      <div class="col-m">
        <%= link_to "Ver  turnos a futuro", turnos_path, class: 'btn btn-info btn-sm' %>
      </div>

        <% if (!current_user.role) %>
        <%= link_to "Ver historial de vacunación", showvacuna_path, class: 'btn btn-info btn-sm' %>
        <%end%>

        <div class="col-m">
          <%= link_to "Ver listado de campañas registradas", campaingfor_users_path, class: 'btn btn-info btn-sm' %>
        </div>
      </div>

    </div>

    <div class="col-m">
      <%= render "noticium/index" %>
    </div>


  </div>
</div>