
<% if @noticium != nil %>
  
  
  <% @noticium.first do |noticia| %>
    
      <h3>
        <%= noticia.titulo%> 
      </h3> 

      <h4>
        <%= noticia.subtitulo%>   
      </h4>
      
      <%= image_tag noticia.img_url, title:"noticia", class:"img-fluid" %> 

      <h6>
        <%= noticia.pie_de_pagina%>   
      </h6>
      
      <p>
        <%= noticia.cuerpo %>   
      </p>
      
  <% end %>

<%else%>

  
  <h5>Aún no hay noticias</h5>


<% end %>


<% if user_signed_in? %>
  
  <% if current_user.role %> 
    
    <%= link_to "Agregar noticia", noticium_new_path, class: 'btn btn-info btn-sm' %>

  <% end -%>

<% end -%>



