<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>DNI</th>
        <th>¿Enfermedades?</th>
        <th>email</th>
        <th>Tipo de usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @usuario.nombre %></td>
        <td><%= @usuario.apellido %></td>
        <td><%= Time.zone.now - @usuario.nacimiento.year%p></td>
        <td><%= @usuario.dni %></td>
        <% if @usuario.enfermedad %>
        <td> Si </td>
        <%else%>
        <td> No </td>
        <%end%>
        <td><%= @usuario.email %></td>
        <td><%= @usuario.tipo %></td>
      </tr>
    </tbody>
  </table>
</div>