<%= form_for @turno do |f| %>

    <div>
        <%= f.label :Fecha_hora %>
        <%= f.datetime_field :Fecha_hora%>
    </div>
    <div>
        <%= f.label :disponible %>
        <%= f.check_box :disponible %>
    </div>
    <div>
        <%= f.label :vaccination_id %>
        <%= f.select :vaccination_id, options_from_collection_for_select(Vaccination.all, :id, :nombre) %>
    </div>
    <div>
        <%= f.label "¿Asistió?"%>
        <%= f.check_box :asistio %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<%end%>
