<div class="container">
    <h3>Listado de Turnos disponibles</h3>
    <table class="table table-hover">
        <tr>
            <thead>
                <th>Fecha y hora: </th>
                <th>¿Turno disponible?: </th>
                <th>Vacunatorio: </th>
                <th>Direccion: </th>
                <th>¿Asistió?: </th>
            </thead>
        </tr>
        <% @turnos.each do |t| %>
        <tr>
            <td>
            <th><%= t.Fecha_hora %></th>
            <th><%= t.disponible %></th>
            <th><%= t.vaccination.nombre %></th>
            <th><%= t.vaccination.direccion %></th>
            <th><%= t.asistio %></th>
            <th>
                <%= link_to "Editar", editturno_path(t)%>
                <%= link_to "Eliminar", t, method: :delete, data: { confirm: "¿Deseas eliminar este turno?"} %> </td>
                </td>
        </tr>
        <% end %>
    </table>
    <% if current_user.tipo == "Administrador" %>
        <%= link_to "Ingresar turno nuevo", turnos_new_path%>
    <% end %>
</div>