<div class="container">
    <div class="table table-hover">
        <thead>
            <tr>
                <th>Fecha y hora: </th>
                <th>¿Turno disponible?: </th>
                <th>Vacunatorio: </th>
                <th>Direccion: </th>
                <th>¿Asistió?: </th>
            </tr>
        </thead>
        <tbody>
            <%@turno.where("Fecha_hora>=Date('now')").where("Fecha_hora<=DateTime('now','23:59:59')").each do |t|%>
            <tr>
                <td>
                <th><%= t.Fecha_hora %></th>
                <th><%= t.disponible %></th>
                <th><%= t.vaccination.nombre %></th>
                <th><%= t.vaccination.direccion %></th>
                <th><%= t.asistio %></th>
                </td>
            </tr>
            <% end %>
        </tbody>
    </div>
</div>