<!DOCTYPE html>
<html>
  <head>
    <title>VacunAssist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render "partials/nav" %>  
    
    

    <% if flash[:notice] %>
      <div class="alert alert-info"> <%= flash[:notice] %> </div>
    <% end %>
    
    <% if flash[:error] %>
      <div class="alert alert-danger"> <%= flash[:error] %> </div>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <%end%>
    
    <%= yield %>
  </body>
</html>
