<div class="container">
  
  

      <h2>Cambiar mis datos</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        
        <div class="row">
          <div class="col">
             <div class="field">
                <%= f.label :nombre %> <br />
                <%= f.text_field :nombre, autocomplete: "nombre" %>
             </div>
              <p>
             <div class="field">
               <%= f.label :email, "Correo electrónico"%><br />
               <%= f.email_field :email, autocomplete: "email" %>
             </div>
           </div>

          <div class="col">
            <div class="field">
              <%= f.label :apellido, "Apellido/s"%><br />
              <%= f.text_field :apellido, autocomplete: "apellido" %>
            </div>
            <p>
            <div class="field">
              <%= f.label :dni, "DNI" %><br />
               <%= f.text_field :dni, autofocus: true, autocomplete: "dni" %>
             </div>
          </div>

          <div class="col">
            <div class="field">
              <%= f.label :nacimiento, "Fecha de nacimiento" %><br />
              <%= f.date_field :nacimiento, autofocus: true, autocomplete: "nacimiento" %>
            </div>
            <p>
            <p>
            <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">Padezco enfermedades prevalentes</label>
            </div>
          </div>
        </div>
      

        <p>

        <div class="actions">
          <%= f.submit "Guardar cambios" %>
        </div>
      <% end %>

      <br>
      <h3>Cerrar la cuenta</h3>

      Presiona el botón para cerrar tu cuenta <%= button_to "Cerrar mi cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro que desea cerrar la cuenta? Puede volver a crearla cuando desee" }, method: :delete %>
      
      <br>
      <%= link_to "Atras", :back %>

    </div>

