<div class="container">
  
  <div class="row">
    
    <div class="col">

      <h2>Cambiar mis datos</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <p>
        <div class="field">
          <%= f.label :nombre %> <br />
          <%= f.text_field :nombre, autocomplete: "nombre" %>
        </div>

        <div class="field">
          <%= f.label :apellido, "Apellido/s"%><br />
          <%= f.text_field :apellido, autocomplete: "apellido" %>
        </div>
        
        </p>

        <p>
        <div class="field">
          <%= f.label :email, "Correo electrónico"%><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
        
        <div class="field">
          <label for="doc"> DNI </label> <br />
          <input type="integer" name="doc" value=<%= current_user.dni %>>
        </div>

        </p>

        <div class="actions">
          <%= f.submit "Guardar cambios" %>
        </div>
      <% end %>

      <br>
      <h3>Cerrar la cuenta</h3>

      Presiona el botón para cerrar tu cuenta <%= button_to "Cerrar mi cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro que desea cerrar la cuenta? Puede volver a crearla cuando desee" }, method: :delete %>
      
      <br>
      <%= link_to "Atras", :back %>

    </div>
  </div>
</div>