<div class="container">
  <div class="row">
    <div class="col align-items-start">
<h2>Crear nueva cuenta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :nombre %><br />
          <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre" %>
        </div>
        <p>
        <div class="field">
          <%= f.label :apellido %><br />
          <%= f.text_field :apellido, autofocus: true, autocomplete: "apellido" %>
        </div>
        <p>
        <div class="field">
          <%= f.label :dni, "DNI" %><br />
          <%= f.text_field :dni, autofocus: true, autocomplete: "dni" %>
        </div>
        <p>
        <div class="field">
          <%= f.label :email, "Correo electrónico" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <p>
        <div class="field">
          <%= f.label :nacimiento %><br />
          <%= f.date_field :nacimiento, autofocus: true, autocomplete: "nacimiento" %>
        </div>
        <p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Padezco enfermedades prevalentes</label>
        </div>
        <p>
        <div class="field">
          <%= f.label :password, "Contraseña" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <p>
        <div class="field">
          <%= f.label :password_confirmation, "Confirme la contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <p>
        <div class="actions">
          <%= f.submit "Crear cuenta" %>
        </div>
        <p>
      <% end %>

<%= render "users/shared/links" %>

</div>
</div>
</div>
